/* Font perso */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap'); 
 
/* General */ 

*{box-sizing: border-box;}
html, body, ul, li, h1, h4, img{margin: 0;padding: 0;}
body{font-size: 16px;}
h1, h3, p{font-size: 0.97rem;}
img{display: block;}
a{color: black;text-decoration: none;}
ul{list-style-type: none;}

body{ 
    
    box-sizing: border-box;  
    font-family: 'Raleway', sans-serif; 
    max-width: 1440px;
} 

.main{
    margin: 0px 50px 50px;
}   

ul{ 
    list-style-type: none; 
    padding: 0;    
    margin: 0; 
}  

a{ 
    text-decoration: none; 
    color: inherit;  
} 
 
h2{  
    font-weight: 00;  
}

.flex{ 
    display: flex;
}  

.euros{ 
    font-weight: 600; 
}

/* Header */  
 
header{
    justify-content: space-between;  
    margin-bottom: 35px; 
}

.logo{ 
    margin-top: 30px;  
    flex: 1; 
}

nav li{ 
    padding-top: 40px; 
}

nav a{ 
    padding: 8px 30px 0; 
} 

.signUp{ 
    color: #0065FC; 
    font-weight: 700; 
    padding: 40px 40px 0; 
} 

.titreheb{

    color: #0065FC;
    padding-top: 35px;
}

nav li a:hover{ 
    color: #0065FC; 
    border-top: 2px solid #0065FC; 
    padding-top: 38px; 
}

/* Barre de recherche*/ 

.search{ 
    margin-bottom: 30px; 
} 

.search h2{ 
    margin-bottom: 10px; 
}  
 
.search p{ 
    margin-top: 10px;   
}

.searchBar{ 
    margin-bottom: 30px; 
    height: 50px;  
}

.containerMarker{  
    background-color: #f2f2f2; 
    border-radius: 15px 0 0 15px; 
    width: 50px;  
    flex-shrink: 0; 
}

.containerMarker i{ 
    margin: auto; 
    font-size: 1.2rem; 
} 
 
.searchInput{ 
    border: 1px solid #f2f2f2; 
    padding: 0 0 0 15px; 
    font-size: 1.1rem; 
    font-weight: 600; 
    width: 230px; 
}

.searchInput::placeholder{ 
    color: #c2c2c2; 
}

.searchButton{ 
    width: 130px; 
    background-color: #0065FC; 
    border: none; 
    padding: 0; 
    border-radius: 0 15px 15px 0; 
    color: #fff; 
    font-weight: 600;  
    font-size: 1.1rem;  
    cursor: pointer; 
    flex-shrink: 0;  
}
 
.searchButton i{  
    display: none;  
}

/* filtres */

.textFilter{ 
    align-self: center;  
}

.filters{ 
    flex-wrap: wrap; 
    font-weight: 600;   
    font-size: 17px;
    margin-bottom: 30px;
}

.filter{ 
    align-items: center; 
    height: 46px; 
    border: 2px solid #f2f2f2; 
    border-left: none; 
    margin-left: 20px;   
    border-radius: 25px;  
} 

.filter span{ 
    padding-left: 9px; 
    padding-right: 11px;
}

.filter:hover{  
    cursor: pointer; 
    border-color: #0065FC; 
    color: #0065FC; 
} 

.filterList{ 
    flex-wrap: wrap; 
}

.iconFilter{ 
    position: relative; 
    right: 1px; 
    width: 45px; 
    height: 45px; 
    border-radius: 50%;  
    background-color: #DEEBFF; 
} 

.iconFilter i{ 
    margin: auto; 
    color: #0065FC;  
} 

.iconInfo{ 
    height: 21px;  
    width: 21px; 
    border: 2px solid #f2f2f2ea; 
    border-radius: 1rem; 
    margin-right: 10px; 
}

.iconInfo i{ 
    margin: auto; 
    font-size: .9rem; 
    color: #0065FC;    
}